<div class="top-bar">
    <ul>
      <a class="link" href="#over-mij">Info</a>
      <a class="link" href="https://steefan.nl">Portfolio</a>
      <a class="link" href="mailto:info@espant.com">Mail mij</a>
    </ul>
  </div>