:root {
  /* animation */
  --a-quick: 0.2s;
  --a-default: 0.3s;
  --a-medium: 0.6s;

  /* color */
  --c-light: rgb(250, 250, 250);
  --c-primary-0: rgb(236, 240, 247);
  --c-primary-25: rgb(192, 217, 255);
  --c-primary-50: rgb(134, 174, 255);
  --c-primary-100: rgb(34, 102, 238);
  --c-primary-150: rgb(2, 18, 51);
  --c-secundary-25: rgb(182, 188, 201);
  --c-secundary-100: rgb(52, 83, 147);

  /* color opactity */
  --o-primary-0: rgba(236, 240, 247, 0);

  /* layout (vw) */
  --w-dix: 10vw;
  --w-quarter: 25vw;
  --w-third: 33vw;
  --w-half: 50vw;
  --w-full: 100vw;
  --h-full: 100vh;

  /* units (em) */
  --u-nano: 0.1em;
  --u-micro: 0.25em;
  --u-small: 0.375em;
  --u-medium: 0.5em;
  --u-default: 1em;
  --u-large: 2em;
  --u-round: 50%;
}

/* General settings based on a viewport of 20em / 320px */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "gloock", serif;
  font-variant-ligatures: common-ligatures;
}

body {
  width: var(--w-full);
  height: auto;
  background-image: linear-gradient(
    to bottom right,
    var(--c-light),
    var(--c-primary-25)
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: var(--u-default);
  position: relative;
  overflow-x: hidden;
}

/* Typography */

h1 {
  font-family: 'Gloock', serif;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: -0.02em;
  line-height: 0.95em;
}

h2 {
  font-family: 'Gloock', serif;
  font-weight: 400;
  background: -webkit-linear-gradient(
    var(--c-primary-100) 33%,
    var(--c-primary-50)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  max-width: 30em;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: var(--u-default);
  line-height: 1.4;
  padding-left: var(--u-micro);
  padding-bottom: var(--u-default);
  color: var(--c-secundary-100);
}

blockquote {
  color: var(--c-secundary-25);
  font-size: 0.8em;
}

/* Interactive */

a {
  font-family: 'Gloock', serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--u-small);
}

a:focus-visible {
  outline: none;
}

button {
  background: linear-gradient( var(--c-primary-50), var(--c-primary-100) 75% );
  background-size: 100% 3em;
  color: var(--c-primary-0);
  font-family: 'Gloock', serif;
  border: none;
  border-radius: var(--u-small);
  display: flex;
  align-items: center;
  gap: var(--u-medium);
  padding: var(--u-medium) var(--u-default);
  transition: var(--a-default);
  cursor: pointer;
  background-repeat: no-repeat;
}

button:hover {
  background-position: 0 1.5em;
  transition: var(--a-default);
  color: var(--c-primary-150);
  fill: var(--c-primary-100);
}

ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: var(--u-small);
  gap: var(--u-small);
}

li {
  list-style: none;
  margin: var(--u-small);
}

svg {
  width: var(--u-large);
  aspect-ratio: 1/1;
}

img {
  width: 10em;
  aspect-ratio: 1/1;
  border-radius: var(--u-small);
  /* opacity: 0; */
}

/* Settings for the interaction of the icons */

.social-media-icons a {
  padding-bottom: var(--u-nano);
  border-bottom: var(--u-nano) solid var(--o-primary-0);
  transition: var(--a-default);
}

.social-media-icons a:focus {
  border-bottom: var(--u-micro) solid var(--c-primary-50);
}

.social-media-icons a svg {
  fill: var(--c-primary-100);
  transition: var(--a-default);
}

.social-media-icons a:hover svg {
  fill: var(--c-primary-50);
}

/* Layout */
header {
  animation: fade-up 1s cubic-bezier(.5,-0.35,.56,1.33) forwards;
  opacity: 0;
}

header ul {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  overflow: scroll;
}

header a {
  color: var(--c-primary-100);
  padding: var(--u-small);
  transition: var(--a-default);
}

header a:hover {
background-color: var(--c-primary-50);
color: var(--c-primary-0);
border-radius: var(--u-micro);
padding: var(--u-small);
}

header svg {
  fill: var(--c-primary-100);
}

footer {
  width: 80vw;
  margin: 0;
  padding: var(--u-default) 0;
}

.fullname {
  width: fit-content;
  padding: var(--u-default) 0;
  gap: -0.5em;
  animation: fade-in 1s cubic-bezier(.5,-0.35,.56,1.33);
}

.fullname h1 {
  width: fit-content;
  display: flex;
  background: -webkit-linear-gradient(
    var(--c-primary-50),
    var(--c-primary-100) 85%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fullname h1:last-child {
  transform: translateX(var(--u-default));
  background: -webkit-linear-gradient(
    var(--c-primary-100) 33%,
    var(--c-primary-50)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Dialog */

dialog {
  width: 30em;
  height: fit-content;
  background: rgba(250, 250, 250, 0.95);
  border: 0.25em solid rgba(250, 250, 250, 0.33);
  border-radius: var(--u-small);
  margin: auto;
  padding: var(--u-default);
  position: relative;
  top: 1em;
  z-index: 999;
}

::backdrop {
  background: rgba(34, 102, 238, 0.66);
}

/* Form */

form {
  width: auto;
  display: flex;
  flex-flow: column nowrap;
}

label {
  color: var(--c-secundary-100);
}

input,
textarea {
  max-width: 20em;
  height: var(--u-large);
  color: var(--c-primary-100);
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  border: none;
  border-radius: var(--u-medium);
  padding-left: var(--u-medium);
  margin-bottom: var(--u-default);
  cursor: pointer;
}

textarea {
  min-height: 3em;
  color: var(--c-primary-100);
  font-family: 'Poppins', sans-serif;
}

input:focus,
textarea:focus {
  border: 0.25em solid var(--c-primary-50);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

input[type="submit"] {
  background-color: var(--c-primary-100);
  color: var(--c-primary-0);
  transition: var(--a-default);
}

input[type="submit"]:hover {
  background-color: var(--c-primary-50);
}

/* Settings for the businesscard */

.business-card {
  width: 100%;
  border-radius: var(--u-small);
  margin: 0;
  padding: var(--u-default);
  gap: var(--u-small);
  background: rgba(250, 250, 250, 0.66);
  border: 0.25em solid rgba(250, 250, 250, 0.33);
  opacity: 0;
  backdrop-filter: blur(25px);
  animation: fade-up 1s 1s cubic-bezier(.5,-0.35,.56,1.33) forwards;
}

/* Interaction */
.name {
  animation: name 3s 2s ease-in forwards;
}

.surname {
  transform: translateX(0);
  animation: surname 3s 2s ease-in forwards;
}

.visible {
  opacity: 1;
}

.move-away {
  transform: translateX(100em);
}

/* Comments */

.comments {
  width: 80vw;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  padding: var(--u-default) 0;
  gap: var(--u-default);
  overflow: scroll hidden;
  scroll-snap-type: x mandatory;
}

.comments article:nth-child(1) {
  animation: fade-in 1s 1s ease-in forwards;
  opacity: 0;
  
}

.comments article:nth-child(2) {
  animation: fade-in 1s 1.2s ease-in forwards;
  opacity: 0;
}

.comments article:nth-child(3) {
  animation: fade-in 1s 1.5s ease-in forwards;
  opacity: 0;
}



/* Custom scrollbar for the comments section */

.comments::-webkit-scrollbar {
  width: var(--u-default);
  height: var(--u-medium);
}
 
.comments::-webkit-scrollbar-track {
  background-color: none;
}
 
.comments::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(var(--c-primary-50), var(--c-primary-100));
  border-radius: var(--u-default);
}

.comments article {
  width: 15em;
  height: 10em;
  aspect-ratio: 3/2;
  background: rgba(250, 250, 250, 0.66);
  border: 0.25em solid rgba(250, 250, 250, 0.33);
  border-radius: var(--u-medium);
  backdrop-filter: blur(25px);
  padding: var(--u-default) var(--u-medium);
  scroll-snap-align: center;
}

/* ----- Keyframes ----- */
@keyframes fade-up {
  0% {
    transform: translateY(1em);
    opacity: 0;
  }

  100% {
    transform: translateX(0em);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(-4em);
    opacity: 0;
  }

  100% {
    transform: translateX(0em);
    opacity: 1;
  }
}

@keyframes name {
  0% {
    transform: translateX(0em);
    opacity: 1;
  }

  33% {
    opacity: 0;
  }
  
  100% {
    transform: translateX(-10em);
  }
}

@keyframes surname {
  0% {
    transform: translateX(0em);
    opacity: 1;
  }

  33% {
    opacity: 0;
  }
  
  100% {
    transform: translateX(30em);
  }
}


/* ----- Media queries ----- */

@media (min-height: 37.5em) {

}

@media (min-width: 25em) {
  header {
    overflow: hidden;
  }

  ul {
    width: 3em;
  }

  .business-card {
    width: 80vw;
    margin: auto;
  }

  .business-card div:first-child {
    width: 100%;
    display: flex;
  }

  footer {
    margin: 0 auto;
  }
}

@media (min-width: 30em) {
  /* Layout */

  .business-card {
    display: flex;
    flex-wrap: wrap;
  }

  .business-card div:first-child {
    width: 20em;
  }

  img {
    width: 12em;
    height: 12em;
  }

  form {
    width: 20em;
  }
}

@media (min-width: 48em) {
  header {
    position: absolute;
    top: var(--u-default);
    right: var(--u-large);
  }
}

@media (min-width: 60em) {
  .business-card {
    width: 50em;
    height: fit-content;
  }

  .comments {
    width: 50em;
  }

  footer {
    width: 50em;
  }
}

@media (min-width: 80em) {
}

@media (min-width: 90em) {
}

@media (min-width: 100em) {
}
